main {
  padding-left: 80px;
}

body {
  font-family: 'Poppins', helvetica;
  line-height: 20px;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

nav {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.18);
}
