main {
  padding-left: 80px;
}

@media (max-width: 767px) {
  main {
    padding-left: 0px;
  }
  .img-about {
    height: 300px !important;
  }
}

.loptop-size {
  font-size: 300px;
  margin-top: 55px;
}

@media (min-width: 880px) {
  .loptop-size {
    font-size: 400px;
    margin-top: 0;
  }
}

body {
  font-family: 'Poppins', helvetica;
  line-height: 20px;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

nav {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.18);
}

.portfolio-hover {
  bottom: -100px;
  padding: 20px 20px 20px;
  transition: all, 0.5s;
}

.porftolio-item:hover .portfolio-hover {
  bottom: 0;
}

.img-about {
  height: 440px;
}
